.header {
  padding: 50px 13.5% 0 13.5%; 
  min-height: 900px;
  background-image: url(../imgs/bgheader.jpg);
  background-size: cover;
  background-repeat: no-repeat; } 
  .header__top {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .header__top .logo {
      width: 111px;
      height: 18px; }
  .header .nav__menu-item {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px; }
    .header .nav__menu-item-link {
      vertical-align: middle;
      text-decoration: none;
      color: #fffefe;
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: 500;
      position: relative; }
      .header .nav__menu-item-link:before {
        display: block;
        background-color: #fff;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: -2px;
        height: 2px;
        opacity: 0;
        transform: translateY(-10px);
        transition: transform .2s ease-in, opacity .2s ease-in; }
      .header .nav__menu-item-link:hover:before {
        opacity: 1;
        transform: translateY(0); }
  @media all and (max-width: 1000px) {
    .header .nav__menu-item {
      margin-right: 0;
      display: block;
      margin-bottom: 10px; }
    .header .header__img-link {
      margin-bottom: 20px; } }
  .header__title {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    .header__title h1 {
      text-transform: uppercase;
      min-width: 400px;
      font-size: 48px;
      font-weight: 700;
      margin: 245px 0 45px 0;
      padding: 0;
      font-family: Raleway, sans-serif;
      color: #fff; }
    .header__title hr {
      width: 86px;
      height: 2px;
      background-color: #ffffff;
      margin: 0 auto 40px auto;
      border: none; }
    .header__title p {
      color: #fffefe;
      font-family: Lato, sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px; }
  @media all and (max-width: 1000px) {
    .header .header__title h1 {
      margin-top: 90px; } }
  .header__img-link {
    width: 92px;
    height: 92px;
    display: block;
    border-radius: 50%;
    margin: 255px auto 0 auto; }
    .header__img-link:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }
  @media all and (max-width: 834px) {
    .header .header__img-link {
      margin: 130px auto 0 auto; } }

.services {
  min-height: 735px;
  padding: 115px 13.5% 0 13.5%; }
  .services__title {
    width: 250px;
    margin: 0 auto 75px auto;
    text-transform: uppercase;
    color: #222222;
    font-family: Raleway, sans-serif;
    font-size: 35px;
    font-weight: 700; }
  .services hr {
    width: 86px;
    height: 2px;
    background-color: #222222;
    margin: 0 auto 65px auto;
    border: none; }
  .services__section-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
    .services__section-flex .section-flex__inner {
      width: 32%;
      min-width: 240px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      color: #222222;
      font-family: Lato, sans-serif;
      font-weight: 400; }
      .services__section-flex .section-flex__inner-iphone {
        margin-bottom: 50px; }
      .services__section-flex .section-flex__inner-desktop {
        margin-bottom: 33px; }
      .services__section-flex .section-flex__inner-check {
        margin-top: 22px;
        margin-bottom: 44px; }
      .services__section-flex .section-flex__inner h4 {
        font-size: 24px;
        margin-bottom: 32px; }
      .services__section-flex .section-flex__inner p {
        max-width: 320px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 30px; }

.aboutus {
  min-height: 500px;
  width: 100%;
  background-image: url(../imgs/bgabout.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 13.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .aboutus__section-left {
    width: 560px;
    padding-top: 170px;
    color: #fff;
    font-family: Lato, sans-serif; }
    .aboutus__section-left h3 {
      font-size: 45px;
      font-weight: 400;
      text-transform: uppercase; }
    .aboutus__section-left p {
      width: 515px;
      font-size: 22px;
      font-weight: 100;
      line-height: 28px;
      margin-bottom: 65px; }
    .aboutus__section-left a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400; }
      .aboutus__section-left a:hover {
        text-shadow: 0 0 5px rgba(225, 225, 225, 0.7); }
  .aboutus__section-right {
    width: 460px;
    padding-top: 75px; }
    .aboutus__section-right img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 257px; }

@media all and (max-width: 1074px) {
  .aboutus__section-right img {
    visibility: hidden; } }

.ourwork {
  width: 100%;
  min-height: 950px;
  padding: 115px 12.5% 0 12.5%;
  text-align: center; }
  .ourwork__title {
    margin-bottom: 70px;
    color: #222;
    font-family: Raleway, sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase; }
  .ourwork hr {
    width: 86px;
    margin: 0 auto 75px auto;
    height: 2px;
    background-color: #222;
    border: none; }
  .ourwork__section-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .ourwork__section-flex .section-flex__inner {
      min-width: 290px;
      width: 32%;
      height: 420px;
      margin-top: 15px;
      text-align: center;
      color: #222;
      font-family: Lato, sans-serif;
      font-weight: 400; }
      .ourwork__section-flex .section-flex__inner:first-child {
        background-image: url(../imgs/planet.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .ourwork__section-flex .section-flex__inner:nth-child(2) {
        background-image: url(../imgs/jetindus.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .ourwork__section-flex .section-flex__inner:last-child {
        background-image: url(../imgs/trimplement.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .ourwork__section-flex .section-flex__inner-invisible {
        width: 100%;
        height: 100%;
        padding-top: 175px;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.5); }
        .ourwork__section-flex .section-flex__inner-invisible p {
          color: #fff;
          font-family: Lato, sans-serif;
          font-size: 22px;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 40px; }
      .ourwork__section-flex .section-flex__inner:hover .section-flex__inner-invisible {
        visibility: visible; }
  @media all and (max-width: 1135px) {
    .ourwork .ourwork__section-flex {
      flex-direction: column;
      align-items: center; }
    .ourwork .section-flex__inner {
      width: 370px; } }
  .ourwork a {
    display: block;
    margin: 80px auto 0 auto;
    width: 370px;
    height: 60px;
    margin-bottom: 15px;
    border: 3px solid #222;
    text-align: center;
    color: #222;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    padding-top: 11px; }
  .ourwork a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }

.contact {
  width: 100%;
  min-height: 800px;
  background-image: url(../imgs/bgfooter.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 115px 13.5% 0 13.5%;
  text-align: center; }
  .contact__title {
    margin: 0 auto 65px auto;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase; }
  .contact hr {
    width: 86px;
    margin: 0 auto 60px auto;
    height: 2px;
    background-color: #fff;
    border: none; }
  .contact__links {
    width: 225px;
    margin: 0 auto 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .contact__links a:hover {
      transform: scale(1.1); }
  .contact__form {
    max-width: 670px;
    margin: 0 auto;
    color: #676767;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400; }
    .contact__form-flex {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between; }
      .contact__form-flex input {
        width: 45.1%;
        height: 50px;
        padding-left: 27px;
        background-color: transparent;
        border: none;
        font-style: italic;
        border-bottom: 2px solid #afafaf;
        outline: none; }
        .contact__form-flex input::-webkit-input-placeholder {
          color: #676767; }
        .contact__form-flex input::-moz-placeholder {
          color: #676767; }
        .contact__form-flex input:-moz-placeholder {
          color: #676767; }
        .contact__form-flex input:-ms-input-placeholder {
          color: #676767; }
    .contact__form textarea {
      margin-top: 90px;
      margin-bottom: 50px;
      height: 50px;
      width: 100%;
      padding: 15px 0 0 27px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #afafaf;
      font-style: italic;
      outline: none;
      resize: none; }
      .contact__form textarea::-webkit-input-placeholder {
        color: #676767; }
      .contact__form textarea::-moz-placeholder {
        color: #676767; }
      .contact__form textarea:-moz-placeholder {
        color: #676767; }
      .contact__form textarea:-ms-input-placeholder {
        color: #676767; }
    .contact__form-button {
      width: 185px;
      height: 60px;
      border: 3px solid #fff;
      text-align: center;
      color: #fff;
      font-family: Lato, sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-decoration: none;
      background-color: transparent; }
    .contact__form-button:hover {
      box-shadow: 0 0 10px rgba(225, 225, 225, 0.7);
      text-shadow: 0 0 5px rgba(225, 225, 225, 0.7); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%; }
